 /* Color and text alignment */

body {
	background-color: rgb(111, 236, 236);
}

p {
	background-color: #fbf8ac;
	font-weight: bold;
}

/* Centered Div using flexbox */
.mdl-layout-title {
	display: flex;
  justify-content: center;
	align-items: center;
	color: #f1f500;
	font-weight: bold;
  height: 50px;
}

h3 {
  background-color: #ff9494;
  padding: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h4 {
  background-color: #fbf8ac;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
}

.table {
  border-collapse: collapse;
  font-weight: bold;
}

.menu {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

/* Image resizing */

.popcorn {
  height: 200px;
  width: auto;
}